
.fade
{
-webkit-animation: fade 3s infinite;
}

.rainbow
{
-webkit-animation: rainbow 4s infinite;
}

.shrink
{
-webkit-animation: shrink 2s infinite;
}

.rotate
{
-webkit-animation: rotation 1s infinite;
}

.border
{
-webkit-animation: border 1s infinite;
}

.clip
{
-webkit-animation:shape 4s infinite;
}

.skew
{
-webkit-animation:skew 2s infinite;
}

.move
{
-webkit-animation:moving 5s infinite;
}


body
{
padding: 20px;
}

section
{
	float: left;
    margin: 10px;
    width: 200px;
    height: 200px;
    background: black;
    color: #fff;
    font-family: sans-serif;
    font-size: 1em;
    text-align: center;
    line-height: 160px;
    transition: all 0.3s;
}

@-webkit-keyframes shrink{
  0% {transform: scale(1.0);}
  100%{transform: scale(0.5);}
 }

 @-webkit-keyframes rotation{
  0% {transform: rotateZ(0deg);}
  100%{transform: rotateZ(-180deg);}
 }

@-webkit-keyframes border{
  0%{box-shadow: inset 0 0 0 0px  #DC143C;}
  100%{box-shadow: inset 0 0 0 25px  #DC143C;}
 }

@-webkit-keyframes rainbow{
    0%   {background-color: purple;}
    25%  {background-color: blue;}
    50%  {background-color: green;}
    75%  {background-color: yellow;}
    100% {background-color: red;}
}

@-webkit-keyframes fade{
    0%   {opacity: 1;}
    25%  {opacity: 0.75;}
    50%  {opacity: 0.50;}
    100% {opacity: 0.25;}
}


@-webkit-keyframes shape{
    0%   {clip-path: inset(0px 0px 0px 0px);}
    10%  {clip-path: inset(10px 40px 30px 40px);}
    50%  {clip-path: inset(10px 40px 70px 40px);}
    100% {clip-path: inset(10px 10px 30px 60px);}
}

@keyframes skew{
    from{transform: skew(0deg,0deg);}
    to{transform: skew(30deg,30deg);}
}


@keyframes moving{
    0% {
        transform: translate3d(0px, 0px, 0px);
        animation-timing-function: ease-in;
    }
    10% {
        transform: translate3d(0px, 250px, 0px);
        animation-timing-function: ease-out;
    }
    20% {
        transform: translate3d(500px, 250px, 0px);
    }

    30% {
        transform: translate3d(500px, 200px, 0px);
    }

    40%{
         transform: translate3d(500px, 200px, 0px);
    }

    50%{
        transform: translate3d(400px, 200px, 0px);
    }
    60%{
        transform: translate3d(400px, 300px, 0px);
    }

    70%{
        transform: translate3d(400px, 200px, 0px);
    }

    80%{
        transform: translate3d(500px, 200px, 0px);
    }

    90%{
        transform: translate3d(500px, 250px, 0px);
    }

    95% {
        transform: translate3d(0px, 250px, 0px);
    }
    100%{

        transform: translate3d(0px, 0px, 0px);
        animation-timing-function: ease-out;
    }
   
}