body,html{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: url(../resource/restaurant.png);
}

label{
margin:0;
margin:0;
padding-right:40%;
padding-bottom: 10%;
}


figure{

  float:left;
  text-align:left;
  font-size: 15px;
  padding-bottom: 1%;
}

li{
	margin: 0;
	padding:2%;
	float: left;
}

p{
	padding: 5%;
	font-size: 20px;
	font-family:Arial;
	text-align: center;
}

.center{
  text-align: center;
  padding-right: 45%;
}

.linkToMain{
  width:120px;
  height:60px;
  font-size:20px;
  background-color: rgb(91,190,229);
  color: white;
  border: none;
  margin: 0;
  padding:2%;
  font-family:Arial;
  transition: all 0.3s ease 0s;
}

.linkToMain:hover{
  opacity:0.5;
}

.linkButton{
	width:10%;
  height:7%;
  position:fixed;
	background-color: rgb(91,190,229);
  color: white;
  border: none;
  margin: 0;
  padding:0;
  font-family:Arial;
  transition: all 0.3s ease 0s;
}

.linkButton:hover{
  opacity:0.5;
}

h2,h3{
color:black;
float:left;
padding:0;
font-family: sans-serif;
}

ul
 {
 	padding-right: 5%;
  text-align: left;
}

ol
{
  padding-left:3%;
  text-align: left;

}


a{
  color: rgb(200,200,200);
  text-decoration: none;
}


a:visited {
    color: rgb(200,200,200);
    text-decoration: none;
}

h1{
	font-family:Arial;
	font-size: 40px;
  padding-top:0%;
  padding-bottom:0%;
}

.h1_left{
font-family:Arial;
text-align: left;
padding-top:0;

}

.img{
  height:auto;
  width:100%;
}

.img_left{
  padding-right:80%;
  padding-bottom:2%;
  margin: 0;
  width:40%;
  float: left;
  
}

.container {
  height:100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  float: left;
}

.header{
 opacity: 0.8;
 z-index: 999;
 position:fixed;
 width:100%;
 height:7%;
 float:left;
 background-color:rgb(232,232,232);
}
.top{
width:100%;
height:30%;
margin:0;
padding:2%;
}

.content_left{
font-family:sans-serif;
margin: 0;
padding:2%;
width:14%;
height:auto;
float:left;
padding-right: 5%;
padding-left: 5%;
border-right:1px solid grey;
}


.content_right{
font-family:sans-serif;
width:66%;
padding:2%;
padding-left: 5%;
height:auto;
float:left;
}

.border_left{
  width: 5%;
  height:80%;
  margin: 0;
  padding: 0;
  border: 0;
  float: left;
}

.border_right{
  width: 10%;
  height:80%;
  margin: 0;
  padding: 0;
  border: 0;
  float: right;
  text-align: center;
}

.main{
  padding-top:5%;
  box-shadow: 5px 4px 10px rgb(230,230,230);
  width:80%;
  height:auto;
  text-align: center;
  float: left;
  margin: 0;
  background-color: rgb(255,255,255);
}


.footer{
  display: inline-block;
  width: 100%;
  height:20%;
  float: left;

}

.card{
  padding-top: 10%;
  width:30%;
  height:auto;
  padding:1%;
  font-family: Arial;
  box-shadow: 4px 1px 10px rgb(230,230,230);
  padding-bottom: 5%;
}

@media only screen and (max-width: 500px){

.header{
  width:0%;
}

.top{
  width: 100%;
}
.content_left{
  padding-right: 15%;
  width:100%;
}
li{
  padding-right: 30%;
}
h3{
  padding-right: 30%;
}

ol{
  padding: 10%;
}
figcaption{
  font-size: 0;
}
.card{
  width: 100%;
}


.content_right{
  width: 100%;
}

.border_left{
  width:0%;
}
.border_right{
  width:0%;
}
.main{
  width: 100%;
}
.footer{
  height: 0%;
}


}

#textInput{
  width: 50px;
  font-size:20px;
  font-family:Arial;
  border: none;
}


.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  font-size: 40px;
  float:left;
  color: rgb(90,190,229);
  padding-bottom:1%;
  

}
.rating > span {
  display: inline-block;
  position: relative;
  width:40px;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}

.ratingsystem{
  font-size: 20px;
  text-align: left;
  font-family: Arial;
  padding-top: 2%;
  padding-left: 2%;
  float:left;
}

#load{
  width:5%;
  height:5%;
  position:absolute;
  background:url(../resource/loading.gif) no-repeat;
}
